<div class="container">
  <div class="background-color:red">
    <h1 class="text-center"><%= @vendor.name %> Admin Dashboard</h1>
  </div>
  <%= link_to "View Current Users", vendor_admin_users_path, class: "btn btn-grey4 btn-lg" %>


  <h2>Manage Items</h2>
  <%= link_to "Create A New Item", new_vendor_admin_item_path, class: "btn btn-grey4 btn-lg" %>
  <h4>Click an item's title to edit or delete the item.</h4>

  <h2>Manage Orders</h2>
  <%= link_to "View Current Orders", vendor_admin_orders_path, class: "btn btn-grey4 btn-lg" %>
  <h4>Click an orders's title to edit or delete the order.</h4>

  <%= render 'update_menu' %>

</div>
