<div id="confirm" class="container">
  <h1>ORDER CONFIRMATION</h1>
  <%= render 'form' %>
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading"><h1>Your Cart</h1></div>
        <table class="table">
          <% unless cart.items.empty? %>
          <th>Item</th>
          <th>Purchased from</th>
          <th></th>
          <th>Quantity</th>
          <th>Item total</th>
          <tbody>
          <% cart.items_to_quantities.each do |item, quantity| %>
            <tr id='<%= "item_#{item.id}" %>'>
              <td><%= item.title %></td>
              <td><%= item.vendor.name %><td>
              <td><%= quantity %></td>
              <td><%= print_price(item.price * quantity) %></td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
        </table>
      </div>
  
</div>
