<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <% @order.errors.full_messages.each do |m| %>
    <%= m %>
  <% end %>
  <div>
    <%= form_for @order do |f|%>
        
      <%= f.submit class: "btn btn-lg btn-grey1", value: "Submit Your Order"%><br/>

        <%= f.label :street_number %>
        <%= f.text_field :street_number %>

      	<%= f.label :street %>
      	<%= f.text_field :street %>

      	<%= f.label :city %>
      	<%= f.text_field :city %>

      	<%= f.label :state %>
      	<%= f.text_field :state %>

      	<%= f.label :zip %>
      	<%= f.text_field :zip %>

      	<%= f.hidden_field :status %>
      	<%= f.hidden_field :latitude %>
      	<%= f.hidden_field :longitude %>

      	<%= f.label "Pickup or Delivery?" %>
      	<%= f.select :exchange, ['pickup', 'delivery'], :selected => 'pickup' %>
    <% end %>
  <h2>Enter Your Billing Address For Deliveries</h2>
  </div>
  </div>
</div>

