<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <% @order.errors.full_messages.each do |m| %>
    <%= m %>
  <% end %>
  <div class="order-form-with-address">
    <%= form_for @order do |f|%>
       <div id="order-form">
        <h3>Enter Billing Address To Complete Order</h3>
        <%= f.label :street_number %>
        <%= f.text_field :street_number %>

      	<%= f.label :street %>
      	<%= f.text_field :street %>

      	<%= f.label :city %>
      	<%= f.text_field :city %>

      	<%= f.label :state %>
      	<%= f.text_field :state %>

      	<%= f.label :zip %>
      	<%= f.text_field :zip %>

      	<%= f.hidden_field :status %>
      	<%= f.hidden_field :latitude %>
      	<%= f.hidden_field :longitude %>

      	<%= f.hidden_field :pickup_location %>
      	<%= f.hidden_field :pickup_date %>

      	<%= f.hidden_field :exchange %>
        </div>
        <br><%= f.submit id: "submit_order", class: "btn btn-lg btn-grey1", value: "Submit Your Order"%>
 <% end %>
  </div>
  </div>
</div>
