<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
    <div class="panel-heading"><h1>Completed Order</h1></div>
      <div class="well">
        <table class="table">
          <h3>Order Summary</h3>
          <tr class="success">
            <th>Order Status</th>
            <th>Exchange</th>
            <th>Order Total</th>
          </tr>
          <tbody>
          <tr class="warning">
            <td><h4><%= @order.status.capitalize %></h4></td>
            <td><h4><%= @order.exchange.capitalize %></h4></td>
            <td><h4><%= print_price(order_price(@order.items)) %></h4></td>
          </tr>
        </table>
        </div>
          <%= link_to "Return to Homepage", root_path, class: "btn btn-md btn-default" %>
          <%= link_to "Browse Items", items_path, class: "btn btn-md btn-default" %>
        </div>
      </div>
	</div>
</div>
