<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Browse By Category</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <% @categories.each do |category| %>
                <li class="list-group-item">
                  <%= link_to category.title, items_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <p></p>
    </div>

    <div class="col-md-8 text-center">
      <h1><%= @vendor.name %></h1>
      <h4><%= @vendor.description %></h4>
        <% @vendor.items.each do |item| %>
          <div class="airlift-grid-cell well col-md-6">
            <h4><%= link_to "#{item.title}", item_path(item.id)  %></h4>
            <%= image_tag item.image.url(:medium) if item.image_file_name %><br/>
            <%= print_price(item.price) %><br/>
            <%= form_tag(cart_add_item_path(item), method: :patch, remote: true) do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%= label_tag "quantity" %>
              <%= number_field_tag "quantity", 1 , min: 1, class:"text-size" %>
              <%= submit_tag 'Add to cart', class: "btn btn-default btn-sm", id: "add_to_cart" %>
              <% end %>
            <h6>Reviews - Average: <%= @average %></h6>
              </div>
        <% end %>
    </div>
  </div>
</div>
