<div class="container item-show-container">
  <div id="masonry-grid" style="text-align:center">
    <h1><%= @item.title.capitalize %></h1>
      <%= image_tag @item.image.url(:medium) if @item.image_file_name != nil %><br/>
      <%= @item.description %><br/>
      <h3><%= print_price(@item.price) %><br/></h3>
      <%= 'Category'.pluralize(@categories.size) %>:
      <%= @categories.map { |category| category.title }.join(', ') %>
      <br/>
      <h4>Reviews - Average: <%= @average %></h4>
      <% @reviews.each do |review| %>
      <div class="review grid-item">
        <% if (review.user == current_user) && review.editable? %>
          <%= link_to "Edit your Review", edit_review_path(@item.id, review.id) %><br/>
        <% end %>
        <%= review.user.full_name %> says: <br/>
        <h4><%= review.title %><br/></h4>
        <%= review.body %><br/>
        Rating: <%= review.stars %><br/>
      </div>
      <% end %>
      <% if current_user && current_user.ordered_items.include?(@item.title) %>
        <%= link_to "New Review", new_review_path(@item.id) %></br>
      <% end %>
      <%if current_user.nil?  %>
        <h4><%= link_to "<< Return to All Menu Items", items_path %><h4>
        <% elsif current_user.is?('admin') %></h4>
        <h4><%= link_to "<< Return to Your Admin Dashboard", admin_path %>
      <% end  %>
  </div>
</div>
