<div class="container item-show-container">
  <div id="masonry-grid" style="text-align:center">
    <h1><%= @item.title.capitalize %></h1>
      <%= image_tag @item.image.url(:medium) if @item.image_file_name != nil %><br/>
      <%= @item.description %><br/>
      <h3><%= print_price(@item.price) %><br/></h3>
      <%= 'Category'.pluralize(@categories.size) %>:
      <%= @categories.map { |category| category.title }.join(', ') %>
      <br/>
        <%if current_user.nil?  %>
        <h4><%= link_to "<< Return to All Menu Items", items_path %><h4>
        <% elsif current_user.is?('admin') %></h4>
        <h4><%= link_to "<< Return to Your Admin Dashboard", vendor_admin_path %>
      <% end  %>
  </div>
</div>
