<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag("AirLift-logo-white.png", :alt => "logo", :width => '120', :height => '37' ) %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse by<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/vendors">Vendors</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/items">Items</a></li>
              </ul>
            </li>
            <div class="navbar-form navbar-left">
            <%= form_tag(items_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Items", style: "color: black" %>
              <%= submit_tag "Search", :name => nil, :class =>"btn btn-grey4" %>
            <% end %>
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
          <% if current_user.role == 'super_admin' %>
            <li class="active"><%= link_to "Platform Admin Dashboard", super_admin_path %></li>
          <% elsif current_user.role == 'vendor_admin' %>
            <li class="active"><%= link_to "Vendor Admin Dashboard", vendor_admin_path(current_user.vendor_id) %></li>
          <% end %>
        </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right", style= "float:right", style="padding: 20px">
              <% if current_user %>
                <%= "Welcome #{current_user.nickname ? current_user.nickname : current_user.full_name}!" %>
                <%= link_to "My Profile", edit_user_path(current_user) %> /
                <%= link_to "Logout", logout_path, method: :delete %>
              <% else %>
                <%= render 'shared/login_form'  %>
              <% end %>
              <div class='cart-container' style="float:right", style="padding: 10px">
                <%= link_to( image_tag("Shopping-Cart.png"), cart_edit_path) %>
                <span class='cart_quantity'><%= cart.size %></span>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class='ajax_flash_messages'>
  <% flash.each do |type, message| %>
    <div class="flash" id="<%= type %>">
      <%= message %>
    </div>
  <% end %>
</div>
