<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag("AirLift-logo-white.png", :alt => "logo", :width => '120', :height => '37' ) %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse by Vendor<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% vendors.each do |vendor| %>
                  <li><%=link_to "#{vendor.name}", vendor_path(vendor.id) %></li></a></li>
                <% end %>
              </ul>
            </li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <% if can? :create, @item %>
                <li class="active"><%= link_to "Admin Dashboard", admin_path %></li>
          <% end %>
        </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right", style= "float:right", style="padding: 20px">
              <% if current_user %>
                <%= "Welcome #{current_user.nickname ? current_user.nickname : current_user.full_name}!" %>
                <%= link_to "My Profile", edit_user_path(current_user) %> /
                <%= link_to "Logout", logout_path, method: :delete %>
              <% else %>
                <%= render 'shared/login_form'  %>
              <% end %>
              <div class='cart-container' style="display:inline">
                <%= link_to( image_tag("Shopping-Cart.png"), cart_edit_path) %>
                <span class='cart_quantity'><%= cart.size %></span>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class='ajax_flash_messages'>
  <% flash.each do |type, message| %>
    <div class="flash" id="<%= type %>">
      <%= message %>
    </div>
  <% end %>
</div>
